---
version: 2
interactions:
    - id: 0
      request:
        host: ""
        form:
            fmt:
                - json
            limit:
                - "500"
        headers:
        url: https://eodhd.com/api/search/US0378331005?fmt=json&limit=500
        method: GET
      response:
        body: '[{"Code":"AAPL","Exchange":"US","Name":"Apple Inc.","Type":"Common Stock","Country":"USA","Currency":"USD","ISIN":"US0378331005","isPrimary":true,"previousClose":336.67,"previousCloseDate":"2026-10-07"},{"Code":"0R2V","Exchange":"LSE","Name":"Apple Inc.","Type":"Common Stock","Country":"UK","Currency":"USD","ISIN":"US0378331005","isPrimary":false,"previousClose":337.16,"previousCloseDate":"2026-10-07"},{"Code":"0R2V","Exchange":"IL","Name":"Apple Inc.","Type":"Common Stock","Country":"UK","Currency":"USD","ISIN":"US0378331005","isPrimary":false,"previousClose":332.85,"previousCloseDate":"2026-10-06"},{"Code":"APC","Exchange":"XETRA","Name":"Apple Inc","Type":"Common Stock","Countr[...]
    - id: 1
      request:
        host: ""
        form:
            fmt:
                - json
            limit:
                - "500"
        headers:
        url: https://eodhd.com/api/search/VUSA?fmt=json&limit=500
        method: GET
      response:
        body: '[{"Code":"VUSA","Exchange":"LSE","Name":"Vanguard S\u0026P 500 UCITS ETF","Type":"ETF","Country":"UK","Currency":"GBP","ISIN":"IE00B3XXRP09","isPrimary":false,"previousClose":111.5525,"previousCloseDate":"2026-10-07"},{"Code":"VUSA","Exchange":"AS","Name":"Vanguard S\u0026P 500 UCITS ETF","Type":"ETF","Country":"Netherlands","Currency":"EUR","ISIN":"IE00B3XXRP09","isPrimary":false,"previousClose":131.753,"previousCloseDate":"2026-10-07"},{"Code":"VUSA","Exchange":"XETRA","Name":"Vanguard S\u0026P 500 UCITS ETF EUR","Type":"ETF","Country":"Germany","Currency":"EUR","ISIN":"IE00B3XXRP09","isPrimary":false,"previousClose":131.805,"previousCloseDate":"2026-10-07"},{"Code":"VUSA","Exchange":"SW","Name":"Vanguard S\u0026P 500 UCITS ETF CHF","Type":"ETF","Country":"Switzerland","Currency":"CHF","ISIN":"IE00B3XXRP09","isPrimary":false,"previousClose":122.88,"previousCloseDate":"2026-10-07"},{"Code":"VUSA","Exchange":"F","Name":"Vanguard Funds Public Limited Company - Vanguard S\u0026P 500 UCITS ETF","Type":"ETF","Country":"Germany","Currency":"EUR","ISIN":"IE00B3XXRP09","isPrimary":false,"previousClose":132,"previousCloseDate":"2026-10-07"}]'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - "1200"
            X-Ratelimit-Remaining:
                - "1198"
        status: 200 OK
        code: 200
        duration: 1.843825885s
    - id: 2
      request:
        host: ""
        form:
            fmt:
                - json
            limit:
                - "500"
        headers:
        url: https://eodhd.com/api/search/ZZBLOCK01?fmt=json&limit=500
        method: GET
      response:
        body: '[]'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - "1200"
            X-Ratelimit-Remaining:
                - "1197"
        status: 200 OK
        code: 200
        duration: 740.009225ms
    - id: 3
      request:
        host: ""
        form:
            filter[cusip]:
                - "594918104"
            fmt:
                - json
        headers:
        url: https://eodhd.com/api/id-mapping?filter%5Bcusip%5D=594918104&fmt=json
        method: GET
      response:
        body: '{"meta":{"limit":1000,"offset":0,"total":1},"data":[{"symbol":"MSFT.US","isin":"US5949181045","figi":"BBG000BPH459","lei":"INR2EJN1ERAN0W5ZP974","cusip":"594918104","cik":"0000789019"}],"links":{"next":null}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - "1200"
            X-Ratelimit-Remaining:
                - "1196"
        status: 200 OK
        code: 200
        duration: 714.548856ms
[...]
    - id: 7
      request:
        host: ""
        form:
            filter[isin]:
                - US0378331005
            fmt:
                - json
        headers:
        url: https://eodhd.com/api/id-mapping?filter%5Bisin%5D=US0378331005&fmt=json
        method: GET
      response:
        body: '{"meta":{"limit":1000,"offset":0,"total":18},"data":[{"symbol":"0R2V.IL","isin":"US0378331005","figi":null,"lei":"HWUPKR0MPOU8FGXBT394","cusip":null,"cik":null},{"symbol":"0R2V.LSE","isin":"US[...]
    - id: 8
      request:
        host: ""
        form:
            filter[isin]:
                - IE00B3XXRP09
            fmt:
                - json
        headers:
        url: https://eodhd.com/api/id-mapping?filter%5Bisin%5D=IE00B3XXRP09&fmt=json
        method: GET
      response:
        body: '{"meta":{"limit":1000,"offset":0,"total":7},"data":[{"symbol":"VUSA.F","isin":"IE00B3XXRP09","figi":null,"lei":null,"cusip":null,"cik":null},{"symbol":"VUSA.LSE","isin":"IE00B3XXRP09","figi":null,"lei":null,"cusip":null,"cik":null},{"symbol":"VUSA.XETRA","isin":"IE00B3XXRP09","figi":null,"lei":null,"cusip":null,"cik":null},{"symbol":"VUSA.MI","isin":"IE00B3XXRP09","figi":null,"lei":null,"cusip":null,"cik":null},{"symbol":"VUSA.AS","isin":"IE00B3XXRP09","figi":null,"lei":null,"cusip":null,"cik":null},{"symbol":"VUSA.SW","isin":"IE00B3XXRP09","figi":"BBG0042XVY25","lei":null,"cusip":null,"cik":null},{"symbol":"VUSD.LSE","isin":"IE00B3XXRP09","figi":null,"lei":null,"cusip":null,"cik":null}],"links":{"next":null}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - "1200"
            X-Ratelimit-Remaining:
                - "1191"
        status: 200 OK
        code: 200
        duration: 206.641268ms
[...]
    - id: 12
      request:
        host: ""
        form:
            fmt:
                - json
            symbols:
                - AAPL
        headers:
        url: https://eodhd.com/api/exchange-symbol-list/US?fmt=json&symbols=AAPL
        method: GET
      response:
        body: '[{"Code":"AAPL","Name":"Apple Inc.","Country":"USA","Exchange":"NASDAQ","Currency":"USD","Type":"Common Stock","Isin":"US0378331005"}]'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - "1200"
            X-Ratelimit-Remaining:
                - "1187"
        status: 200 OK
        code: 200
        duration: 307.598904ms
    - id: 13
      request:
        host: ""
        form:
            fmt:
                - json
            limit:
                - "500"
        headers:
        url: https://eodhd.com/api/search/BA-?fmt=json&limit=500
        method: GET
      response:
        body: '[{"Code":"BA-PA","Exchange":"US","Name":"Boeing Co","Type":"Preferred Stock","Country":"USA","Currency":"USD","ISIN":null,"isPrimary":false,"previousClose":58.75,"previousCloseDate":"2026-10-07"},{"Code":"BA-P-A","Exchange":"US","Name":"BA-P-A","Type":"Common Stock","Country":"USA","Currency":"USD","ISIN":null,"isPrimary":false,"previousClose":58.75,"previousCloseDate":"2026-10-07"},{"Code":"BA-C","Exchange":"BA","Name":"BANK OF AMERICA CORPORATION CED","Type":"Common Stock","Country":"Argentina","Currency":"ARS","ISIN":null,"isPrimary":false,"previousClose":21610,"previousCloseDate":"2026-10-07"},{"Code":"LU1417812945","Exchange":"EUFUND","Name":"PROTEA ORCAD GB SUS BA-C ACC","Type":"FUND","Country":"Unknown","Currency":"EUR","ISIN":"LU1417812945","isPrimary":false,"previousClose":165.67,"previousCloseDate":"2026-10-06"}]'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - "1200"
            X-Ratelimit-Remaining:
                - "1186"
        status: 200 OK
        code: 200
        duration: 344.840535ms
[...]
    - id: 15
      request:
        host: ""
        form:
            fmt:
                - json
            symbols:
                - PG
        headers:
        url: https://eodhd.com/api/exchange-symbol-list/US?fmt=json&symbols=PG
        method: GET
      response:
        body: '[{"Code":"PG","Name":"Procter & Gamble Company","Country":"USA","Exchange":"NYSE","Currency":"USD","Type":"Common Stock","Isin":"US7427181091"}]'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - "1200"
            X-Ratelimit-Remaining:
                - "1184"
        status: 200 OK
        code: 200
        duration: 336.823523ms
[...]
    - id: 17
      request:
        host: ""
        form:
            fmt:
                - json
            symbols:
                - JNJ
        headers:
        url: https://eodhd.com/api/exchange-symbol-list/US?fmt=json&symbols=JNJ
        method: GET
      response:
        body: '[{"Code":"JNJ","Name":"Johnson & Johnson","Country":"USA","Exchange":"NYSE","Currency":"USD","Type":"Common Stock","Isin":"US4781601046"}]'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - "1200"
            X-Ratelimit-Remaining:
                - "1182"
        status: 200 OK
        code: 200
        duration: 384.700583ms
    - id: 18
      request:
        host: ""
        form:
            fmt:
                - json
            symbols:
                - MSFT
        headers:
        url: https://eodhd.com/api/exchange-symbol-list/US?fmt=json&symbols=MSFT
        method: GET
      response:
        body: '[{"Code":"MSFT","Name":"Microsoft Corporation","Country":"USA","Exchange":"NASDAQ","Currency":"USD","Type":"Common Stock","Isin":"US5949181045"}]'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - "1200"
            X-Ratelimit-Remaining:
                - "1181"
        status: 200 OK
        code: 200
        duration: 303.950166ms
    - id: 19
      request:
        host: ""
        form:
            fmt:
                - json
            limit:
                - "500"
        headers:
        url: https://eodhd.com/api/search/MSFT?fmt=json&limit=500
        method: GET
      response:
        body: '[{"Code":"MSFT","Exchange":"US","Name":"Microsoft Corporation","Type":"Common Stock","Country":"USA","Currency":"USD","ISIN":"US5949181045","isPrimary":true,"previousClose":529.76,"previousCloseDate":"2026-10-07"},{"Code":"M[...]
    - id: 20
      request:
        host: ""
        form:
            fmt:
                - json
            limit:
                - "500"
        headers:
        url: https://eodhd.com/api/search/INTC?fmt=json&limit=500
        method: GET
      response:
        body: '[{"Code":"INTC","Exchange":"US","Name":"Intel Corporation","Type":"Common Stock","Country":"USA","Currency":"USD","ISIN":"US4581401001","isPrimary":true,"previousClose":107.08,"previousCloseDate":"2026-10-08"},{"Code":"INTC"[...]
    - id: 21
      request:
        host: ""
        form:
            fmt:
                - json
            limit:
                - "500"
        headers:
        url: https://eodhd.com/api/search/CSCO?fmt=json&limit=500
        method: GET
      response:
        body: '[{"Code":"CSCO","Exchange":"US","Name":"Cisco Systems Inc","Type":"Common Stock","Country":"USA","Currency":"USD","ISIN":"US17275R1023","isPrimary":true,"previousClose":114.89,"previousCloseDate":"2026-10-08"},{"Code":"CSCO"[...]
    - id: 22
      request:
        host: ""
        form:
            fmt:
                - json
            symbols:
                - INTC
        headers:
        url: https://eodhd.com/api/exchange-symbol-list/US?fmt=json&symbols=INTC
        method: GET
      response:
        body: '[{"Code":"INTC","Name":"Intel Corporation","Country":"USA","Exchange":"NASDAQ","Currency":"USD","Type":"Common Stock","Isin":"US4581401001"}]'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - "1200"
            X-Ratelimit-Remaining:
                - "1197"
        status: 200 OK
        code: 200
        duration: 269.703107ms
    - id: 23
      request:
        host: ""
        form:
            fmt:
                - json
            symbols:
                - CSCO
        headers:
        url: https://eodhd.com/api/exchange-symbol-list/US?fmt=json&symbols=CSCO
        method: GET
      response:
        body: '[{"Code":"CSCO","Name":"Cisco Systems Inc","Country":"USA","Exchange":"NASDAQ","Currency":"USD","Type":"Common Stock","Isin":"US17275R1023"}]'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - "1200"
            X-Ratelimit-Remaining:
                - "1196"
        status: 200 OK
        code: 200
        duration: 277.366491ms
