---
version: 2
interactions:
    - id: 0
      request:
        host: api.openfigi.com
        body: '[{"idType":"ID_ISIN","idValue":"GB00BH4HKS39","currency":"GBp"}]'
        headers:
            Content-Type:
                - application/json
        url: https://api.openfigi.com/v3/mapping
        method: POST
      response:
            - chunked
        body: '[{"data":[{"figi":"BBG000C6K6G9","name":"VODAFONE GROUP PLC","ticker":"VOD","exchCode":"LN","compositeFIGI":"BBG000C6K5W3","securityType":"Common Stock","marketSector":"Equity","shareClassFIGI":"BBG001S6PJ31","securityType2":"Common Stock","securityDescription":"VOD"},{"figi":"BBG000LZMCM3","name":"VODAFONE GROUP PLC","ticker":"VODL","exchCode":"IX","compositeFIGI":"BBG000LZMBW4","securityType":"Common Stock","marketSector":"Equity","shareClassFIGI":"BBG001S6PJ31","securityType2":"Common Stock","securityDescription":"VODL"},{"figi":"BBG000N8CXQ2","name":"VODAFONE GROUP PLC","ticker":"VOD","exchCode":"EO","compositeFIGI":"BBG000N8CXQ2","securityType":"Common Stock","marketSector":"Equity","shareClassFIGI":"BBG001S6PJ31","securityType2":"Common Stock","s[...]
