---
version: 2
interactions:
    - id: 0
      request:
        host: api.openfigi.com
        body: '[{"idType":"TICKER","idValue":"VOD"}]'
        headers:
            Content-Type:
                - application/json
        url: https://api.openfigi.com/v3/mapping
        method: POST
      response:
            - chunked
        body: '[{"data":[{"figi":"BBG000BD5GF1","name":"VODACOM GROUP LTD","ticker":"VOD","exchCode":"SJ","compositeFIGI":"BBG000BD5G52","securityType":"Common Stock","marketSector":"Equity","shareClassFIGI":"BBG001S7RQS4","securityType2":"Common Stock","securityDescription":"VOD"},{"figi":"BBG000C4R6H6","name":"VODAFONE GROUP PLC-SP ADR","ticker":"VOD","exchCode":"US","compositeFIGI":"BBG000C4R6H6","securityType":"ADR","marketSector":"Equity","shareClassFIGI":"BBG001S6MDB8","securityType2":"Depositary Receipt","securityDescription":"VOD"},{"figi":"BBG000C4R6S4","name":"VODAFONE GROUP PLC-SP ADR","ticker":"VOD","exchCode":"UA","compositeFIGI":"BBG000C4R6H6","securityType":"ADR","marketSector":"Equity","shareClassFIGI":"BBG001S6MDB8","securityType2":"Depositary Recei[...]
