---
version: 2
interactions:
    - id: 0
      request:
        host: ""
        body: '[{"idType":"TICKER","idValue":"VUSA","currency":"GBP"},{"idType":"TICKER","idValue":"BA/","currency":"GBP"}]'
        headers:
            Content-Type:
                - application/json
        url: https://api.openfigi.com/v3/mapping
        method: POST
      response:
            - chunked
        body: '[{"data":[{"figi":"BBG003241JV5","name":"VANG S&P500 USDD","ticker":"VUSA","exchCode":"LN","compositeFIGI":"BBG003241JT8","securityType":"ETP","marketSector":"Equity","shareClassFIGI":"BBG003241JZ1","securityType2":"Mutual Fund","securityDescription":"VUSA"},{"figi":"BBG00KFN4J11","name":"VANG S&P500 USDD","ticker":"VUSA","exchCode":"B2","compositeFIGI":"BBG00KFN4J02","securityType":"ETP","marketSector":"Equity","shareClassFIGI":"BBG003241JZ1","securityType2":"Mutual Fund","securityDescription":"VUSA"},{"figi":"BBG015GWH8F7","name":"VANG S&P500 USDD","ticker":"VUSA","exchCode":"PZ","compositeFIGI":"BBG015GWH8D9","securityType":"ETP","marketSector":"Equity","shareClassFIGI":"BBG003241JZ1","securityType2":"Mutual Fund","securityDescription":"VUSA"},{"figi":"BBG0250DDJ65","name":"VANG S&P500 USDD","ticker":"VUSA","exchCode":"ER","compositeFIGI":"BBG0250DDJ56","securityType":"ETP","marketSector":"Equity","shareClassFIGI":"BBG003241JZ1","securityType2":"Mutual Fund","securityDescription":"VUSA"}]},{"data":[{"figi":"BBG00XS0CJV7","name":"BAE SYSTEMS PLC","ticker":"BA/","exchCode":"X9","compositeFIGI":"BBG00XS0CJT0","securityType":"Common Stock","marketSector":"Equity","shareClassFIGI":"BBG001S615R1","securityType2":"Common Stock","securityDescription":"BA/"}]}]'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "25"
            Ratelimit-Policy:
                - 25;w=60
            Ratelimit-Remaining:
                - "24"
            Ratelimit-Reset:
                - "60"
        status: 200 OK
        code: 200
        duration: 397.189845ms
[...]
    - id: 2
      request:
        host: ""
        body: '[{"idType":"ID_ISIN","idValue":"ZZBLOCK01","currency":"USD"}]'
        headers:
            Content-Type:
                - application/json
        url: https://api.openfigi.com/v3/mapping
        method: POST
      response:
            - chunked
        body: '[{"error":"Invalid idValue format"}]'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "25"
            Ratelimit-Policy:
                - 25;w=60
            Ratelimit-Remaining:
                - "22"
            Ratelimit-Reset:
                - "56"
        status: 200 OK
        code: 200
        duration: 2.450049268s
    - id: 3
      request:
        host: ""
        body: '[{"idType":"ID_ISIN","idValue":"US0000000002","currency":"USD"}]'
        headers:
            Content-Type:
                - application/json
        url: https://api.openfigi.com/v3/mapping
        method: POST
      response:
            - chunked
        body: '[{"warning":"No identifier found."}]'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Origin-Agent-Cluster:
                - ?1
            Ratelimit-Limit:
                - "25"
            Ratelimit-Policy:
                - 25;w=60
            Ratelimit-Remaining:
                - "21"
            Ratelimit-Reset:
                - "53"
        status: 200 OK
        code: 200
        duration: 2.499388922s
[...]
