---
version: 2
interactions:
    - id: 0
      request:
        host: api.openfigi.com
        body: '[{"idType":"TICKER","idValue":"AAPL"}]'
        headers:
            Content-Type:
                - application/json
        url: https://api.openfigi.com/v3/mapping
        method: POST
      response:
            - chunked
        body: '[{"data":[{"figi":"BBG000B9XRY4","name":"APPLE INC","ticker":"AAPL","exchCode":"US","compositeFIGI":"BBG000B9XRY4","securityType":"Common Stock","marketSector":"Equity","shareClassFIGI":"BBG001S5N8V8","securityType2":"Common Stock","securityDescription":"AAPL"},{"figi":"BBG000B9XSK7","name":"APPLE INC","ticker":"AAPL","exchCode":"UA","compositeFIGI":"BBG000B9XRY4","securityType":"Common Stock","marketSector":"Equity","shareClassFIGI":"BBG001S5N8V8","securityType2":"Common Stock","securityDescription":"AAPL"},{"figi":"BBG000B9XT70","name":"APPLE INC","ticker":"AAPL","exchCode":"UC","compositeFIGI":"BBG000B9XRY4","securityType":"Common Stock","marketSector":"Equity","shareClassFIGI":"BBG001S5N8V8","securityType2":"Common Stock","securityDescripti[...]
