---
version: 2
interactions:
    - id: 0
      request:
        host: api.massive.com
        form:
            apiKey:
                - REDACTED
        url: https://api.massive.com/v3/reference/tickers/TCEHY?apiKey=REDACTED
        method: GET
      response:
        body: '{"request_id":"8012ef8137a9c128f1956419c36b550d","results":{"active":true,"composite_figi":"BBG000SGZ3Z0","currency_name":"USD","description":"REDACTED","locale":"us","market":"otc","name":"TENCENT HLDGS UNSP/ADR","primary_exchange":"OTC Link","share_class_figi":"BBG001T3RVC8","ticker":"TCEHY","ticker_root":"TCEH","ticker_suffix":"Y","type":"ADRC"},"status":"OK"}'
        headers:
            Content-Type:
                - application/json
            X-Polygon-Cluster-Name:
                - polygon-ny5
        status: 200 OK
        code: 200
        duration: 775.874078ms
