---
version: 2
interactions:
    - id: 0
      request:
        host: api.massive.com
        form:
            apiKey:
                - REDACTED
            cusip:
                - "037833100"
            market:
                - stocks
        url: https://api.massive.com/v3/reference/tickers?apiKey=REDACTED&cusip=037833100&market=stocks
        method: GET
      response:
        body: '{"results":[{"ticker":"AAPL","name":"Apple Inc.","market":"stocks","locale":"us","primary_exchange":"XNAS","type":"CS","active":true,"currency_name":"usd","cik":"0000320193","composite_figi":"BBG000B9XRY4","share_class_figi":"BBG001S5N8V8","last_updated_utc":"2026-10-07T06:11:24.923109962Z"}],"status":"OK","request_id":"149b403439c8ab7cc75158d530d83815","count":1}'
        headers:
            Content-Type:
                - application/json
            X-Item-Count:
                - "1"
            X-Polygon-Cluster-Name:
                - polygon-ny5
        status: 200 OK
        code: 200
        duration: 884.094198ms
