---
version: 2
interactions:
    - id: 0
      request:
        host: api.massive.com
        form:
            apiKey:
                - REDACTED
        url: https://api.massive.com/v3/reference/tickers/BRK.B?apiKey=REDACTED
        method: GET
      response:
        body: '{"request_id":"29197803e773d7d42656f688321b461b","results":{"active":true,"address":"REDACTED","branding":{"icon_url":"https://api.massive.com/v1/reference/company-branding/YmVya3NoaXJlaGF0aGF3YXkuY29t/images/2026-10-01_icon.png","logo_url":"https://api.massive.com/v1/reference/company-branding/YmVya3NoaXJlaGF0aGF3YXkuY29t/images/2026-10-01_logo.svg"},"cik":"0001067983","composite_figi":"BBG000DWG505","currency_name":"usd","description":"REDACTED","homepage_url":"https://www.berkshirehathaway.com","list_date":"1996-05-09","locale":"us","market":"stocks","market_cap":1.08221442925876e+12,"name":"BERKSHIRE HATHAWAY Class B","phone_number":"REDACTED","primary_exchange":"XNYS","round_lot":40,"share_class_figi":"BBG001S90346","share_class_shares_outstanding":1408035161,"sic_code":"6331","sic_description":"FIRE, MARINE \u0026 CASUALTY INSURANCE","ticker":"BRK.B","ticker_root":"BRK","ticker_suffix":"B","total_employees":387800,"type":"CS","weighted_shares_outstanding":2140709794},"status":"OK"}'
        headers:
            Content-Type:
                - application/json
            X-Polygon-Cluster-Name:
                - polygon-ny5
        status: 200 OK
        code: 200
        duration: 268.234752ms
