---
version: 2
interactions:
    - id: 0
      request:
        host: api.massive.com
        form:
            apiKey:
                - REDACTED
            cusip:
                - "060505682"
            market:
                - stocks
        url: https://api.massive.com/v3/reference/tickers?apiKey=REDACTED&cusip=060505682&market=stocks
        method: GET
      response:
        body: '{"results":[{"ticker":"BACpL","name":"Bank Of America Corporation 7.25% Non-Cumulative Perpetual Convertible Preferred Stock, Series L","market":"stocks","locale":"us","primary_exchange":"XNYS","type":"PFD","active":true,"currency_name":"usd","cik":"0000070858","last_updated_utc":"2026-10-07T06:11:24.923274806Z"}],"status":"OK","request_id":"6fd7d7a3b50a5f9909b59ad2b84bbdaa","count":1}'
        headers:
            Content-Type:
                - application/json
            X-Item-Count:
                - "1"
            X-Polygon-Cluster-Name:
                - polygon-ny5
        status: 200 OK
        code: 200
        duration: 358.945231ms
