---
version: 2
interactions:
    - id: 0
      request:
        host: api.massive.com
        form:
            apiKey:
                - REDACTED
            asset_class:
                - stocks
            locale:
                - us
        url: https://api.massive.com/v3/reference/tickers/types?apiKey=REDACTED&asset_class=stocks&locale=us
        method: GET
      response:
        body: '{"count":24,"request_id":"c92c418333efa4d89af419272ae426a3","results":[{"asset_class":"stocks","code":"CS","description":"REDACTED","locale":"us"},{"asset_class":"stocks","code":"PFD","description":"REDACTED","locale":"us"},{"asset_class":"stocks","code":"WARRANT","description":"REDACTED","locale":"us"},{"asset_class":"stocks","code":"RIGHT","description":"REDACTED","locale":"us"},{"asset_class":"stocks","code":"BOND","description":"REDACTED","locale":"us"},{"asset_class":"stocks","code":"ETF","description":"REDACTED","locale":"us"},{"asset_class":"stocks","code":"ETN","description":"REDACTED","locale":"us"},{"ass[...]
