---
version: 2
interactions:
    - id: 0
      request:
        host: eodhd.com
        form:
            api_token:
                - REDACTED
            fmt:
                - json
            limit:
                - "500"
        url: https://eodhd.com/api/search/US0378331005?api_token=REDACTED&fmt=json&limit=500
        method: GET
      response:
        body: '[{"Code":"AAPL","Exchange":"US","Name":"Apple Inc.","Type":"Common Stock","Country":"USA","Currency":"USD","ISIN":"US0378331005","isPrimary":true,"previousClose":336.67,"previousCloseDate":"2026-10-07"},{"Code":"0R2V","Exchange":"LSE","Name":"Apple Inc.","Type":"Common Stock","Country":"UK","Currency":"USD","ISIN":"US0378331005","isPrimary":false,"previousClose":337.16,"previousCloseDate":"2026-10-07"},{"Code":"0R2V","Exchange":"IL","Name":"Apple Inc.","Type":"Common Stock","Country":"UK","Currency":"USD","ISIN":"US0378331005","isPrimary":false,"previousClose":332.85,"previousCloseDate":"2026-10-06"},{"Code":"APC","Exchange":"XETRA","Name":"Apple Inc","Type":"Common Stock","Countr[...]
    - id: 1
      request:
        host: eodhd.com
        form:
            api_token:
                - REDACTED
            filter[isin]:
                - US0378331005
            fmt:
                - json
        url: https://eodhd.com/api/id-mapping?api_token=REDACTED&filter%5Bisin%5D=US0378331005&fmt=json
        method: GET
      response:
        body: '{"meta":{"limit":1000,"offset":0,"total":18},"data":[{"symbol":"0R2V.IL","isin":"US0378331005","figi":null,"lei":"HWUPKR0MPOU8FGXBT394","cusip":null,"cik":null},{"symbol":"0R2V.LSE","isin":"US0378331005","figi":null,"lei":"HWUPKR0MPOU8FGXBT394","cusip":null,"cik":null},{"symbol":"1AAPL.MI","isin":"US0378331005","figi":null,"lei":"HWUPKR0MPOU8FGXBT394","cusip":null,"cik":null},{"symbol":"AAPL.SN","isin":"US0378331005","figi":null,"lei":"HWUPKR0MPOU8FGXBT394","cusip":null,"cik":null},{"symbol":"AAPL.NEO","isin":"US0378331005","figi":null,"lei":"HWUPKR0MPOU8FGXBT394","cusip":null,"cik":null},{"symbol":"AAPL.BA","isin":"US0378331005","figi":null,"lei"[...]
    - id: 2
      request:
        host: eodhd.com
        form:
            api_token:
                - REDACTED
            fmt:
                - json
            symbols:
                - AAPL
        url: https://eodhd.com/api/exchange-symbol-list/US?api_token=REDACTED&fmt=json&symbols=AAPL
        method: GET
      response:
        body: '[{"Code":"AAPL","Name":"Apple Inc.","Country":"USA","Exchange":"NASDAQ","Currency":"USD","Type":"Common Stock","Isin":"US0378331005"}]'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - "1200"
            X-Ratelimit-Remaining:
                - "1197"
        status: 200 OK
        code: 200
        duration: 287.844206ms
