---
version: 2
interactions:
    - id: 0
      request:
        host: eodhd.com
        form:
            api_token:
                - REDACTED
            fmt:
                - json
            limit:
                - "500"
        url: https://eodhd.com/api/search/TCEHY?api_token=REDACTED&fmt=json&limit=500
        method: GET
      response:
        body: '[{"Code":"TCEHY","Exchange":"US","Name":"Tencent Holdings Ltd ADR","Type":"Common Stock","Country":"USA","Currency":"USD","ISIN":"US88032Q1094","isPrimary":false,"previousClose":53.5,"previousCloseDate":"2026-10-07"}]'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - "1200"
            X-Ratelimit-Remaining:
                - "1182"
        status: 200 OK
        code: 200
        duration: 561.309228ms
    - id: 1
      request:
        host: eodhd.com
        form:
            api_token:
                - REDACTED
            filter[isin]:
                - US88032Q1094
            fmt:
                - json
        url: https://eodhd.com/api/id-mapping?api_token=REDACTED&filter%5Bisin%5D=US88032Q1094&fmt=json
        method: GET
      response:
        body: '{"meta":{"limit":1000,"offset":0,"total":4},"data":[{"symbol":"0LEA.LSE","isin":"US88032Q1094","figi":null,"lei":"254900N4SLUMW4XUYY11","cusip":null,"cik":null},{"symbol":"NNN1.F","isin":"US88032Q1094","figi":null,"lei":"254900N4SLUMW4XUYY11","cusip":null,"cik":null},{"symbol":"NNN1.STU","isin":"US88032Q1094","figi":null,"lei":"254900N4SLUMW4XUYY11","cusip":null,"cik":null},{"symbol":"TCEHY.US","isin":"US88032Q1094","figi":"BBG000SGZ3Z0","lei":"254900N4SLUMW4XUYY11","cusip":"88032Q109","cik":null}],"links":{"next":null}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - "1200"
            X-Ratelimit-Remaining:
                - "1181"
        status: 200 OK
        code: 200
        duration: 170.910914ms
    - id: 2
      request:
        host: eodhd.com
        form:
            api_token:
                - REDACTED
            fmt:
                - json
            symbols:
                - TCEHY
        url: https://eodhd.com/api/exchange-symbol-list/US?api_token=REDACTED&fmt=json&symbols=TCEHY
        method: GET
      response:
        body: '[{"Code":"TCEHY","Name":"Tencent Holdings Ltd ADR","Country":"USA","Exchange":"PINK","Currency":"USD","Type":"Common Stock","Isin":"US88032Q1094"}]'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - "1200"
            X-Ratelimit-Remaining:
                - "1180"
        status: 200 OK
        code: 200
        duration: 270.680613ms
