---
version: 2
interactions:
    - id: 0
      request:
        host: eodhd.com
        form:
            api_token:
                - REDACTED
            exchange:
                - LSE
            fmt:
                - json
            limit:
                - "500"
        url: https://eodhd.com/api/search/VOD?api_token=REDACTED&exchange=LSE&fmt=json&limit=500
        method: GET
      response:
        body: '[{"Code":"VOD","Exchange":"LSE","Name":"Vodafone Group PLC","Type":"Common Stock","Country":"UK","Currency":"GBX","ISIN":"GB00BH4HKS39","isPrimary":true,"previousClose":127.75,"previousCloseDate":"2026-10-07"},{"Code":"0LQQ","Exchange":"LSE","Name":"Vodafone Group PLC ADR","Type":"Common Stock","Country":"UK","Currency":"USD","ISIN":null,"isPrimary":false,"previousClose":16.91,"previousCloseDate":"2026-10-07"},{"Code":"3SVO","Exchange":"LSE","Name":"GraniteShares 3x Short Vodafone Daily Exchange Traded Commodity","Type":"ETF","Country":"UK","Currency":"GBX","ISIN":"XS2710197935","isPrimary":false,"previousClose":105.6,"previousCloseDate":"2026-10-07"}]'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - "1200"
            X-Ratelimit-Remaining:
                - "1189"
        status: 200 OK
        code: 200
        duration: 570.185152ms
    - id: 1
      request:
        host: eodhd.com
        form:
            api_token:
                - REDACTED
            filter[isin]:
                - GB00BH4HKS39
            fmt:
                - json
        url: https://eodhd.com/api/id-mapping?api_token=REDACTED&filter%5Bisin%5D=GB00BH4HKS39&fmt=json
        method: GET
      response:
        body: '{"meta":{"limit":1000,"offset":0,"total":6},"data":[{"symbol":"GB00BH4HKS39.EUFUND","isin":"GB00BH4HKS39","figi":null,"lei":"213800TB53ELEUKM7Q61","cusip":null,"cik":null},{"symbol":"VOD.LSE","isin":"GB00BH4HKS39","figi":null,"lei":"213800TB53ELEUKM7Q61","cusip":null,"cik":"839923"},{"symbol":"VODI.XETRA","isin":"GB00BH4HKS39","figi":null,"lei":"213800TB53ELEUKM7Q61","cusip":null,"cik":null},{"symbol":"VODI.F","isin":"GB00BH4HKS39","figi":null,"lei":"213800TB53ELEUKM7Q61","cusip":null,"cik":null},{"symbol":"VODI.STU","isin":"GB00BH4HKS39","figi":null,"lei":"213800TB53ELEUKM7Q61","cusip":null,"cik":null},{"symbol":"VODPF.US","isin":"GB00BH4HKS39","figi":"BBG000JK82B9","lei":"213800TB53ELEUKM7Q61","cusip":"G93882101","cik":"0000839923"}],"links":{"next":null}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - "1200"
            X-Ratelimit-Remaining:
                - "1188"
        status: 200 OK
        code: 200
        duration: 166.426888ms
