---
version: 2
interactions:
    - id: 0
      request:
        host: eodhd.com
        form:
            api_token:
                - REDACTED
            fmt:
                - json
            limit:
                - "500"
        url: https://eodhd.com/api/search/AAPL?api_token=REDACTED&fmt=json&limit=500
        method: GET
      response:
        body: '[{"Code":"AAPL","Exchange":"US","Name":"Apple Inc.","Type":"Common Stock","Country":"USA","Currency":"USD","ISIN":"US0378331005","isPrimary":true,"previousClose":336.67,"previousCloseDate":"2026-10-07"},{"Code":"AAPL","Exchange":"TO","Name":"Apple CDR (CAD Hedged)","Type":"Common Stock","Country":"Canada","Currency":"CAD","ISIN":"CA03785Y1007","isPrimary":false,"previousClose":47.36,"previousCloseDate":"2026-10-07"},{"Code":"AAPL","Exchange":"NEO","Name":"Apple Inc CDR","Type":"Common Stock","Country":"Canada","Currency":"CAD","ISIN":"US0378331005","isPrimary":false,"previousClose":47.32,"previousCloseDate":"2026-10-07"},{"Code":"AAPL","Exchange":"MX","Name":"Apple Inc","Type":"Co[...]
    - id: 1
      request:
        host: eodhd.com
        form:
            api_token:
                - REDACTED
            fmt:
                - json
            symbols:
                - AAPL
        url: https://eodhd.com/api/exchange-symbol-list/US?api_token=REDACTED&fmt=json&symbols=AAPL
        method: GET
      response:
        body: '[{"Code":"AAPL","Name":"Apple Inc.","Country":"USA","Exchange":"NASDAQ","Currency":"USD","Type":"Common Stock","Isin":"US0378331005"}]'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - "1200"
            X-Ratelimit-Remaining:
                - "1183"
        status: 200 OK
        code: 200
        duration: 284.088355ms
