---
version: 2
interactions:
    - id: 0
      request:
        host: eodhd.com
        form:
            api_token:
                - REDACTED
            filter[cusip]:
                - 99999Z999
            fmt:
                - json
        url: https://eodhd.com/api/id-mapping?api_token=REDACTED&filter%5Bcusip%5D=99999Z999&fmt=json
        method: GET
      response:
        body: '{"meta":{"limit":1000,"offset":0,"total":0},"data":[],"links":{"next":null}}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - "1200"
            X-Ratelimit-Remaining:
                - "1178"
        status: 200 OK
        code: 200
        duration: 455.849352ms
